.body {
    background: rgb(255, 255, 255);
    margin: 0;
    font-weight: 500;
    font-size: 12px;
}

.draggableClass { cursor: move; }

.py-4{ padding-top: 6px;padding-bottom: 6px;}
.page {
    background: white;
    width: 20.1cm;
    min-height: 28.8cm;
    max-width: 28.8cm;
    margin: auto;
    background-image: url("/img/pdf-background.jpg");
    background-size: cover;
    padding: 0.396875cm;
    display: flex;
    flex-direction: column;
}

.header1 {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.logo-header1{
    width: 460px;
}
.logo-header1 img {
    max-width: 100%;
    height: auto;
}

.header2 {
    text-align: center;
    margin-top: 58px;
    font-size: 38px;
    margin-bottom: 10px;
    position: relative;
    color: rgba(43,44,46,255);
    font-family: "Poppins";
    text-transform: uppercase;
}

.header3 {
    width: 150px;
    height: 5px;
    background-color: #50b6c6;
    margin: 0 auto;
    border-radius: 5px;
}



.divfooter p{
    text-align: center;
    font-size: 24px;
    padding-left: 10px;
    font-family: "Poppins";
    color: rgba(46,47,49,255);

    font-weight: 500;
    font-style: normal;
    margin-bottom: 0px; /* Add margin-bottom */
}
.ft{
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 30px;
    font-style: italic;
    color: #2d2e30;
    margin-top: 50px;
    margin-bottom: 10px;
}
.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.signature img{
    width: 300px;
}










.footer3 p {
    font-family: "Poppins";
    text-align: center;
    margin: 0;
    line-height: 14px; /* Adjust line height as needed */
    font-size: 14px;
    font-weight: 250px; /* Font weight corrected */
    margin-bottom: 2px; /* Add margin-bottom to create space between paragraphs */
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
}

.btn1,
.btn2,
.btn3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #00b4cc ;
    box-shadow: 0 2px 4px rgb(66, 85, 85);
    cursor: pointer;
    transition: all 0.2s ease;
    color: #FFF;
    border-radius: 50px;
    border: 0
}

.btn1:active,
.btn2:active,
.btn3:active {
    background-color: #008799;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.btn3{
    width: 60px;
    height: 60px;
    bottom: 210px;
    right: 44px;
}

.btn2 {
    width: 70px;
    height: 70px;
    bottom: 120px;
    right: 40px;
}

.btn1 {
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 44px;
}

.alert{
    position: fixed;
    top: 40px;
    right: 50px;
    display: none;
}

@media (max-width:600px) {
    .btn1,
    .btn2,
    .btn3{
        transform: translateX(-50%, -50%);
    }
    .btn1 {
        width: 80px;
        height: 80px;
        bottom: 100px;
        right: 50%;
        left: 50%;
    }
    .btn2 {
        width: 100px;
        height: 100px;
        bottom: 200px;
        right: 51.4%;
        left: 48.6%;
    }
    .btn3 {
        width: 80px;
        height: 80px;
        bottom: 320px;
        right: 50%;
        left: 50%;
    }
}

@media print {
    @page {
        margin: 0 !important;
    }
    body {
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
        -ms-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .btn3,
    .btn2,
    .btn1,
    .alert{
        display: none;
    }
}
